<%= form_for(@micropost) do |f| %>
		<%= render 'shared/error_messages', :object => f.object %>

	<div class="field">
		<%= f.text_area :content, :onkeyup => "limiter()" %>
	</div>
	<span class="action">
		<%= f.submit "Submit" %>
	</span>
			<span>Character left: </span><span id="counter">140</span>
<% end %>